<label id="titleprogrammels"> suppression </label>
<div id="divalidersupprog" >
    <div id="labelsupprog">Voulez vous retirer ce programme</div>
    <input id="inputvalidersupprog" type="button" value="valider"></input>
    <input id="inputannulersupprog" type="button" value="annuler"></input>
 
  </div>
<div class="divnameprogramme">
    <label id="objetp"> objet </label>
    <label id="objets"> objet </label>
  
</div>

<div class="divnameprogramme">
    <label id="objectifp">objectif </label>
    <label id="objectifs">objectif </label>
  
</div>
<div class="divnameprogramme">
    <label id="avantagep"> avantage </label>
    <label id="avantages">objectif </label>
  
</div>

<div class="divnameprogramme">
    <label id="remercimentp"> remerciment </label>
    <label id="remerciments">objectif </label>
</div>

<div class="divnameprogramme">
    <label id="datep"> date </label>
    <label id="dates">objectif </label>
</div>

<div class="divnameprogramme">
    <label id="lieup"> lieu </label>
    <label id="lieus">objectif </label>
</div>

    