<div id="divalidersupa" style="display: none;">
    <div id="labelsupa">Voulez vous retirer cette annonce</div>
    <input id="inputvalidersupa" type="button" value="valider"></input>
    <input id="inputannulersupa" type="button" value="annuler"></input>
 
  </div>

<img class="annimgadmi"  src="public/image/acceuil/facebook.png"/> 


<p id="textannnce"> ce ci est un ext pour aire une annonce way ce ci est un ext pour aire une annonce way ce ci est un ext pour aire une annonce way ce ci est un ext pour aire une annonce way</p>

<img class="annimgadmi"  src="public/image/acceuil/facebook.png"/> 
