
<label id="projettitle" > type <span id="spantitle"> Reboisement</span></label>
<div id="divalidersuppr" style="display: none;">
    <div id="labelsuppr">Voulez vous retirer ce projet </div>
    <input id="inputvalidersuppr" type="button" value="valider"></input>
    <input id="inputannulersuppr" type="button" value="annuler"></input>
 
  </div>
<img class="proimgadmi"  src="public/image/acceuil/facebook.png"/> 
<img class="proimgadmi"  src="public/image/acceuil/facebook.png"/> 
<img class="proimgadmi"  src="public/image/acceuil/facebook.png"/> 
<img class="proimgadmi"  src="public/image/acceuil/facebook.png"/> 
<img class="proimgadmi"  src="public/image/acceuil/facebook.png"/> 
