<div id="divalidersuppub" style="display: none;">
    <div id="labelsuppub">Voulez vous retirer cette publication</div>
    <input id="inputvalidersuppub" type="button" value="valider"></input>
    <input id="inputannulersuppub" type="button" value="annuler"></input>
 
  </div>
<img class="pubimgadmi"  src="public/image/acceuil/facebook.png"/> 
<img class="pubimgadmi"  src="public/image/acceuil/facebook.png"/> 
<img class="pubimgadmi"  src="public/image/acceuil/facebook.png"/> 
<img class="pubimgadmi"  src="public/image/acceuil/facebook.png"/> 
<img class="pubimgadmi"  src="public/image/acceuil/facebook.png"/> 
  