<label id="titlepublicationl"> ajout d'un projet </label>

<div class="divnamepublication">
    <label id="namepublicationl"> type </label>
    <input id="namepublicationi" type="text"></input>
  
</div>
<div class="divnamepublication">
    <label id="despublicationl"> descripion </label>
    <textarea id="despublicationi" ></textarea>
  
</div>

<div class="divnamepublication">
    <label id="datepublicationl"> date </label>
    <input id="datepublicationi" type="text"></input>
  
</div>
<div class="divnamepublication">
    <label id="lieupublicationl"> lieu </label>
    <input id="lieupublicationi" type="text"></input>
  
</div>

<div id="divselectionp">

    <div class="divunitepubimage">
        <img class="unitepubimage" src ="public/image/logo/1.png" alt="1"/> </br>
       
        <input class="buttonmodifie" type="button" value="modifier"></label> 
            
       
    </div>
    <div class="divunitepubimage">
        <img class="unitepubimage"  src ="public/image/logo/2.png" alt="2"/>  </br>
       
        <input class="buttonmodifie" type="button" value="modifier"></label>
           
    </div>
   
    <div class="divunitepubimage">
        <img class="unitepubimage"  src ="public/image/logo/3.png" alt="2"/> 
       
        <input class="buttonmodifie" type="button" value="modifier"></label>
             
    </div>
   
   
    <div class="divunitepubimage">
        <img class="unitepubimage"  src ="public/image/logo/4.png" alt="4"/> 
       
        <input class="buttonmodifie" type="button" value="modifier"></label>
           
    </div>

    
    <div class="divunitepubimage">
        <img class="unitepubimage"  src ="public/image/logo/5.png" alt="5"/> 
       
        <input class="buttonmodifie" type="button" value="modifier"></label>
          
    </div>



 
  
    <form  id = "myForm" action ="/upload" method="POST" enctype="multipart/form-data"> 
        <input class="divajouter" type="file" name="files"   id="file" style="display: none;">  
        </input> 
        
        <input type="submit"  id="submite"  value="valider"  style="display:none;">
      </input> 
  
      </form>
    <input id="validerChangement" type="button" value="Valider les changements" style="display: none;"></input>
    <label id="validerChangementl">Valider les changements</label>
    
    
</div> 