<img id="imgapercu" src ="public/image/admi/param.png"></img>
<div id="nomprenom"></div>
<div id="divreseauso" >
   <div class="divreseauso">
    <img class="iconreseau"  src="public/image/acceuil/facebook.png"/> 
    <img class="iconreseau"  src="public/image/acceuil/twitter.png"/> 
    <img class="iconreseau"  src="public/image/acceuil/insta.png"/> 
    <img class="iconreseau"  src="public/image/acceuil/youtube.png"/> 

   </div>
   <div class="divreseauso">
    <img class="iconreseaub"  src="public/image/acceuil/facebook.png"/> 
    <input id="inputresaeu" type="text" value="www.facebook.com/bvhddbhdglvj"></input>
   </div>
  
 </div>
<div class="pub" > Publication  <span class="spanap">  </span> </div>
<div class="pub" > Annonce  <span class="spanap">  </span></div>
<div id="divalidersup" style="display: none;">
   <div id="labelsup">Voulez vous retirer ce client</div>
   <input id="inputvalidersup" type="button" value="valider"></input>
   <input id="inputannulersup" type="button" value="annuler"></input>

 </div>
</div>