<label id="titleprogrammel"> ajout d'un programme </label>
<div id="divalidersupprog" style="display: none;">
    <div id="labelsupprog">Voulez vous retirer ce programme</div>
    <input id="inputvalidersupprog" type="button" value="valider"></input>
    <input id="inputannulersupprog" type="button" value="annuler"></input>
 
  </div>
<div class="divnameprogramme">
    <label id="objet"> objet </label>
    <input id="objeti" type="text"></input>
  
</div>

<div class="divnameprogramme">
    <label id="objectif"> objectif </label>
    <textarea id="objectifi" ></textarea>
  
</div>
<div class="divnameprogramme">
    <label id="avantage"> avantage </label>
    <textarea id="avantagei" ></textarea>
  
</div>

<div class="divnameprogramme">
    <label id="remerciment"> remerciment </label>
    <textarea id="remercimenti" ></textarea>
  
</div>

<div class="divnameprogramme">
    <label id="date"> date </label>
    <input id="datei" type="text"></input>
  
</div>

<div class="divnameprogramme">
    <label id="lieu"> lieu </label>
    <input id="lieui" type="text"></input>
  
</div>

    <input id="ajouterprogramme" type="button" value="ajouter programme" style="display: none;"></input>
    <label id="ajouterprogrammel">ajouter programme</label>
   