  
    
    <div id="connecter" style="display: block;">
        <div> 
            <label id="linb"> me connecter </label>
      
        </div>
        
        <table id="dinb" >
            <tr class="dinb"> 
               <td>
                <label class="linb"> prenom</label>
               </td>
               <td>
                <input class="inb" type="input"></input>
               </td>
               
      
            </tr>
              
            <tr class="dinb">
              <td>
                <label class="linb"> passe</label>
      
              </td>
              <td>
               <input class="inb" type="password"></input>
              </td>
              
      
           </tr>
        </table> 
        <input id="seconnecter" value="se connecter" type="button"></input>
  
    </div>


    <div id="lbb" style="display: block;"> 
      <label class="pdescription"> creer un compte </label>
  
      <img id="logobb"  src ="public/image/acceuil/logo.png"/>
 
    </div>


    <div id="divenregistrer" style="display: none;"> 
  
      <div id="lb"> 
        <img id="logob"  src ="public/image/acceuil/logo.png"/>
    <label id="ltext"> devenez annonceur et faites vos publications </label>
      </div>
     
      <div id="lc"> 
    
        <table id="din" >
          <tr class="din"> 
             <td>
              <label class="lin"> nom</label>
             </td>
             <td>
              <input class="in" type="input"></input>
             </td>
             
    
          </tr>
            
          <tr class="din">
            <td>
              <label class="lin"> prenom</label>
    
            </td>
            <td>
             <input class="in" type="input"></input>
            </td>
            
    
         </tr>
    
         <tr class="din">
          <td>
            <label class="lin"> tel</label>
    
          </td>
          <td>
           <input class="in" type="number"></input>
          </td>
          
    
       </tr>
    
       <tr class="din">
        <td>
          <label class="lin"> passe</label>
    
        </td>
        <td>
         <input class="in" type="password"></input>
        </td>
        
    
     </tr>
           
        </table>
       
       </div>
       <div id="li"> 
        <img id="profa"  src ="public/image/acceuil/profile/utilisateur.png"/>
        
        <form  id = "myForm" action ="/upload" method="POST" enctype="multipart/form-data"> 
          <input class="divajouter" type="file" name="files"   id="file" style="display: none;">  
          </input> 
          
          <input type="submit"  id="submite"  value="valider"  style="display:none;">
        </input> 
    
        </form>
    
        <input id="change" value="modifier" type="button"></input>
        
      </div>
    
      <div id="lcont"> 
        <input id="ve" value="valider changement" type="button" style="display: none;"></input>
        <label id="validerchanger" >valider changement</label>
   <!--      <input id="ae" value="annuler" type="button"></input> -->
      
      </div>

    </div>
  