<div id='login-form'class='login-page'>
  
           
  <div class="form-box">
        
        <form id='login' class='input-group-login' action="/admi" method="POST" > 
            <input  name="name" type='text'class='input-field'placeholder='Votre Nom' required >
            
<input type='password' name="password" class='input-field'placeholder='Votre Passe' required>


<button type='submit'class='button'>Valider</button>
      </form>

    </div>
</div>

<style>
  div{
    white-space: normal;
    text-overflow: ellipsis;
    text-overflow: unset;
    text-align: left;
    
   
  }
  body .hoverColonne{
    text-overflow: ellipsis;
  }
</style>
