
    <div id="divprofileimage">
     <img id="profileimage"  src ="public/image/acceuil/profile/profile.jpg"/> 
   
 <label id="labelprofileimage">Idirissa Dia</label>

    </div>
  
   
  <div id="divmenuprofile">
     
    <div id="divmenuprofile">

        <div id="divmenuprofile">
            <div class="menuprofile">
             <img class="iconmenuprofile"  src ="public/image/logo/publication.jpg"/> 
             <label class="menuitemprofile">Publication</label>
            </div>
       
            <div class="menuprofile">
             <img class="iconmenuprofile"  src ="public/image/logo/annonce.jpg"/> 
             <label class="menuitemprofile">Annonce</label>
            </div>
       
            <div class="menuprofile">
             <img class="iconmenuprofile"  src ="public/image/logo/boutique.png"/> 
             <label class="menuitemprofile">Boutique</label>
            </div>
       
            <div class="menuprofile">
             <img class="iconmenuprofile"  src ="public/image/logo/param.png"/> 
             <label class="menuitemprofile">Profile</label>
            </div>
       
    
  </div>
    <div>
 
         
    </div>
   