<div id="divlistedesimagepub">


    <div id="divnamepublication">
        <label id="namepublicationl"> titre </label>
        <input id="namepublicationi" type="text"></input>
      
    </div>
    <div id="divselectionp">

        <div class="divunitepubimage">
            <img class="unitepubimage" src ="public/image/logo/1.png" alt="1"/> 
           
            <input class="buttonmodifie" type="button" value="modifier"></label>
                
            <form  class = "myFormp" action ="/uploadp" method="POST" enctype="multipart/form-data"> 
         
                <input class="fileupdatep" type="file" name="files"  style="display: none;">  
                </input> 
                
                <input type="submit"  class="submitp"  value="valider"  style="display:none;">
              </input> 
          
          </form>
        </div>
        <div class="divunitepubimage">
            <img class="unitepubimage"  src ="public/image/logo/2.png" alt="2"/> 
           
            <input class="buttonmodifie" type="button" value="modifier"></label>
            <form  class = "myFormp" action ="/uploadp" method="POST" enctype="multipart/form-data"> 
         
                <input class="fileupdatep" type="file" name="files"  style="display: none;">  
                </input> 
                
                <input type="submit"  class="submitp"  value="valider"  style="display:none;">
              </input> 
          
          </form>     
        </div>
        <div class="divunitepubimage">
            <img class="unitepubimage"  src ="public/image/logo/3.png" alt="3"/> 
           
            <input class="buttonmodifie" type="button" value="modifier"></label>
            <form  class = "myFormp" action ="/uploadp" method="POST" enctype="multipart/form-data"> 
         
                <input class="fileupdatep" type="file" name="files"  style="display: none;">  
                </input> 
                
                <input type="submit"  class="submitp"  value="valider"  style="display:none;">
              </input> 
          
          </form>    
        </div>
        <div class="divunitepubimage">
            <img class="unitepubimage"  src ="public/image/logo/4.png" alt="4"/> 
           
            <input class="buttonmodifie" type="button" value="modifier"></label>
            <form  class = "myFormp" action ="/uploadp" method="POST" enctype="multipart/form-data"> 
         
                <input class="fileupdatep" type="file" name="files"  style="display: none;">  
                </input> 
                
                <input type="submit"  class="submitp"  value="valider"  style="display:none;">
              </input> 
          
          </form>    
        </div>
        <div class="divunitepubimage">
            <img class="unitepubimage"  src ="public/image/logo/5.png" alt="5"/> 
           
            <input class="buttonmodifie" type="button" value="modifier"></label>
            <form  class = "myFormp" action ="/uploadp" method="POST" enctype="multipart/form-data"> 
         
                <input class="fileupdatep" type="file" name="files"  style="display: none;">  
                </input> 
                
                <input type="submit"  class="submitp"  value="valider"  style="display:none;">
              </input> 
          
          </form>   
        </div>
        
        <form  id = "myFormp" action ="/uploadp" method="POST" enctype="multipart/form-data"> 
         
            <input id="fileupdatep" type="file" name="files"  style="display: none;">  
            </input> 
            
            <input type="submit"  id="submitp"  value="submit"  style="display:none;">
          </input> 
      
      </form>
      


     
      <div id="divselectcateg">
        <label for="selectcateg" id="labelseleccatem"> Categorie </label>
    <select  id="selectcateg" > 

        <option value="fruits et legumes"> fruits et legumes </option>
        <option value="electromenager"> electromenager </option>
        <option value="elevage"> elevage </option>
        <option value="bureatique"> bureatique </option>
        <option value="cosmetique"> cosmetique </option>
        <option value="vehecules"> vehecules </option>
        <option value="immobilier"> immobilier </option>
        <option value="alimentaire"> alimentaire </option>
        <option value="pièces détachées"> pièces détachées </option>
      
    </select>

    </div>

        <input id="validerChangementp" type="button" value="Valider les changements"></input>
        
        
    </div> 

    <div id="divapercup">
        <div class="divpublimagex"> 
            <img class="tabpubimgab" src ="public/image/logo/1.png" alt="1"></img> 
            <img class="tabpubimgab" src ="public/image/logo/2.png" alt="2"img>
            <img class="tabpubimgab" src ="public/image/logo/3.png" alt="1"></img>
            
           
        </div>
        <div class="divpublimagebb"> 
            <img class="tabpubimgab" src ="public/image/logo/4.png" alt="4"></img> 
           <img class="tabpubimgab" src ="public/image/logo/5.png" alt="5"></img> 
        </div>
   
    </div>

</div>