<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <!-- Fichiers CSS -->
   

</head>
<body>
    <script src="/public/script/jquery-3.1.1.min.js"  type="text/javascript">    </script>
    
   
     
    
  
      
    <div class="full-page">
   
        <!-- Conteneur principal de tout le diaporama -->
     
       
            <!-- Conteneur principal de tout le diaporama -->
           
              <%- include('page/parti/logina'); %>
          
        
     </div>

    
   
    

     <script src="/public/script/css/csslogin.js"  type="text/javascript">    </script>
     <script>
         connectAdmi()
        function connectAdmi() {
           
          $("#login").submit(function (e) {
          
            e.preventDefault();
            var formData = new FormData(this);
        
            var admi =  $('.input-field').eq(0).val()
           
            var passe =  $('.input-field').eq(1).val()
          
           
          $.ajax({
                type: "POST",
                url: "/admi?admi=" + admi + "&passe=" + passe,
                data: formData,
                processData: false,
                contentType: false,
                success: function(r){
                   
                    window.location.href = '/admi'
    
                  
                },
                error: function (e) {
                    
                }
            });
        
        });
        
        }
      </script>
 
  
</body>
</html>
