<div id="thiesanimation" > 
       
    <img class="thies"  src ="public/image/acceuil/thies.jpg"/>

    <label class="thies">Thies Busness</label>
  
 </div>

 <div id="salut">
    <p> salut idy partage le lien avec les responsables </p>
    <p> chaque jour j apporte des changement en fonction de vos demandes  </p>
    <p>  vos desirs ma preoccupation  </p>
  
 </div>
