<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>acceuil</title>
    
    <!---we had linked our css file----->

  
</head>
<body>
	<script src="/public/script/jquery-3.1.1.min.js"  type="text/javascript">    </script>
  
  <!-- 
  <div id="thiesanimation" > 
       
    <img class="thies"  src ="public/image/acceuil/thies.jpg"/>

    <label class="thies">Thies Busness et  annonces</label>
  
 </div>
    -->
 <div id="menu">
  
  <!--  <div id="transition"></div>   -->
 
  <div id="main">

  
    <li class= "n1" > acceuil </li>
    <li class= "n1" > ventes </li>


    <li class="n1"> projets </li> 
    <li class= "n1" > programmes </li>


    <li class="n1"> qui sommes nous </li> 
  
  </div>
  
  
  
 </div>

 <div id="publication">

  <div class="page"> 
    <%-include('page/publication.ejs')%>

  </div>


  <div class="page"> 
   <%-include('page/vente.ejs')%>

  </div>


  <div class="page"> <p> projet </p></div>
  <div class="page"> <p>evenements et programmes </p></div>
  <div class="page"> <p> a propos de thies busness et annonces </p></div>

 </div>
 <div id="publicite">
    <label class="label"> publicite ou nouvelle</label>
 </div>
 <div id="membre">
  <label class="label"> espace annonceur</label>
 </div>
 <div id="baspage">
  <label class="label"> logo partenaire et autres</label>

 </div>
 <div id="contacter"> 
      <a>  contacter nous </a>
 </div>
 
 <img id="logo"  src ="public/image/acceuil/logo.jpg"/>


</body>
<style>
  
</style>
<script>
 

</script>

<script src="/public/script/script/scriptpublication.js"  type="text/javascript">    </script>

<script src="/public/script/script/scriptvente.js"  type="text/javascript">    </script>

<script src="/public/script/script/scriptacceuil.js"  type="text/javascript">    </script>

<script src="/public/script/css/csspublication.js"  type="text/javascript">    </script>

<script src="/public/script/css/cssvente.js"  type="text/javascript">    </script>

<script src="/public/script/css/cssgeneral.js"  type="text/javascript">    </script>

</html>