<div id="reseau">  
    <img id="imgf" class="res" src="public/image/acceuil/facebook.png"></img>
    <img id="imgt" class="res"  src="public/image/acceuil/twitter.png"></img>
     
    <img id="imgi" class="res"  src="public/image/acceuil/insta.png"></img>
   
   <img id="imgw" class="res"  src="public/image/acceuil/youtube.png"></img>
     

      </div>

      <div id="contactdiv">
        <label id="a"> contacter nous</label>
        <img id="cimg"   src="public/image/acceuil/basb.png"></img>
  
      </div>

      <div id="contacter" style="display: none;"> 
        
        <label    id="contactlemail"> email : <span class="spancontact">  thiesbusness@gmail.com </span> </label>  </br>
       
        <label   id="contactltel"> nom : <span class="spancontact"> 221774422647</span></label>
       
      </div>
      <div id="zonederecherche">
        <input id="serchacceuil" type="text" >
    
      </input>
      <img   id="imgserch" src ="public/image/acceuil/search.png" />
      
        </div>
        <div id="apercuacceuil" style="display: none;"></div>