<img id="logo"  src ="public/image/acceuil/logo.png"/>

 
<div id="menu">
  
    <!--  <div id="transition"></div>   -->
   
    <div id="main">
  
    
      <li class= "n1" > acceuil </li>
      <li class= "n1" > ventes </li>
  
  
      <li class="n1"> projets </li> 
      <li class= "n1" > programmes </li>
  
  
      <li class="n1"> groupe </li> 
    
    </div>
    
    
    
   </div>
   <div id="moncidiv" >
    <img id="monci"   src="public/image/acceuil/profile/utilisateur.png"></img>

    <label id="monc">Mon Compte</label>
  
  </div>