
<div id="encours">
  
    <img id="imgapercu"  src ="public/image/acceuil/plus.png"/>
  
<div id="listeimage">
   
    
            <img class="icona"  src="public/image/vente/maraicher.jpg"></img>
            <img class="icona"  src="public/image/vente/maraicher.jpg"></img>
            <img class="icona"  src="public/image/vente/maraicher.jpg"></img>
            <img class="icona"  src="public/image/vente/maraicher.jpg"></img>
            <img class="icona"  src="public/image/vente/maraicher.jpg"></img>

          
</div>


<div id="papercup">
    <label> text pour la description des images et de leur contexte</label>
           
</div>
</div>

<div id="realiser">
    <div id="labeltitle">
        <label > Projets et Realisations</label>
  
    </div>
    <div id="recherchep">
          <input id="recherinpp" type="text"></input>
          <img   id="iconch" src ="public/image/acceuil/search.png" />
     
    </div>
    

    

    
</div>
<div id="stat">
    <div class="divsuggereridee">
        <img   id="lampe" src ="public/image/acceuil/lampe.png" />
     
        <div id="divsuggerer">
            <img   class="imgsuggerer" src ="public/image/projet/message.png" />
            <img   class="imgsuggerer" src ="public/image/projet/boite.jpg" />
    
      <label id="labelsugerer"> suggerer une idée</label>
        </div>
    </div>
    <div class="divsuggereridee" style="display: none;">
        <img   id="lampeb" src ="public/image/acceuil/lampe.png" />
     
        <div id="divsuggererb">
          
      <label id="labelsugererb"> mon idée</label>  </br>

      <textarea id="textasugerer"></textarea>  </br>
      <input id="valideridee" value="valider" type="button"></input>
       
    </div>
    </div>


    <div class="divsuggereridee" style="display: none;">
        <img   id="lampec" src ="public/image/acceuil/lampe.png" />
     
       <label id="labelconnect"> connecter vous pour donner une idee</label>

       <div id="tableconnect">
        <div class="divtr">
            <label class="tdproj">
                nom
            </label>
            
             <input class="nomconnect"  type="input" value=""></input>
        
         </div>

         <div class="divtr">
            <label class="tdproj">
              passe
            </label>
            
             <input class="nomconnect"  type="input" value=""></input>
        
         </div>
        
       </div>
          
       <div id="divvalidcon">
        <input class="validerconnect"  type="button" value="connecter"></input>
        <input class="validerconnect"  type="button" value="s'inscrire"></input>
   
       
     </div>

      
    </div>

    </div>
   

</div>
    

<style>
  
</style>