<div id="divpubglobale">
    
</div>

<div id="remerciment" style="display: none;">
<img id="remercimentimg"  src =""/> 
  
<p id="descriptionremerc">
   
</p>

</div>
<div id="new" style="display: none;">
    <img id="imgnew"  src ="public/image/acceuil/remerciment/new.gif"/> 
      
    <p id="descnew">
         nous remercions Monsieur Le Provisoire de sa contubition et de son soutient à l endroit de notre organisation
    </p>
   
    
    </div>
    <div id="newb" >
          
        <img id="imgnewb"  src =""/> 
 
        <img id="imgnewdes"  src ="" /> 
       
        
        </div>