
<div id="pagequi">



   <img id="thiesa"  src ="public/image/acceuil/thies/a.jpg"/>
<h3>THIES EN MARCHE</h3>
 <p class="p"> edu text du text  edu text du text edu text du text edu text du text edu text du text edu text du textedu text du text edu text du text edu text du text  edu text du text edu text du text edu text du text blabla blabla encor blala du texte du texte du texte du texte</p>  </br>

 <p class="p"> edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text dtext edu text du text edu text du textedu text du text edu text du text edu text du text  edu text du text edu text du text edu text du text blabla blabla encor blala du texte du texte du texte du texte</p>
 <img id="thiesb"  src ="public/image/acceuil/thies/b.jpg"/> 
 <p class="p"> edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text dtext edu text du text edu text du textedu text du text edu text du text edu text du text  edu text du text edu text du text edu text du text blabla blabla encor blala du texte du texte du texte du texte</p>
 <p class="p"> edu dut du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text dtext edu text du text edu text du textedu text du text edu text du text edu text du text  edu text du text edu text du text edu text du text blabla blabla encor blala du texte du texte du texte du texte</p>

 <img id="thiesc"  src ="public/image/acceuil/thies/c.jpg"/> 
 <p class="p"> edu dut du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text dtext edu text du text edu text du textedu text du text edu text du text edu text du text  edu text du text edu text du text edu text du text blabla blabla encor blala du texte du texte du texte du texte</p>

 <img id="thiesd"  src ="public/image/acceuil/thies/d.jpg"/> 
 <img id="thiesf"  src ="public/image/acceuil/thies/f.jpg"/> 
 
 <p class="p"> edu dut du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text dtext edu text du text edu text du textedu text du text edu text du text edu text du text  edu text du text edu text du text edu text du text blabla blabla encor blala du texte du texte du texte du texte</p>
 <h4>collaboration</h4>
 <img id="thiese"  src ="public/image/acceuil/thies/e.jpg"/> 
 <p class="p"> edu dut du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text du text edu text du text  edu text dtext edu text du text edu text du textedu text du text edu text du text edu text du text  edu text du text edu text du text edu text du text blabla blabla encor blala du texte du texte du texte du texte</p>
 
</div>