<div id="zonederecherche">
    <input id="serchacceuil" type="text" >

  </input>
  <img   id="imgserch" src ="public/image/acceuil/search.png" />
  <label id="lserch">Chercher . . .</label>

    </div>

    <div id="tableventediv">
      <table id="tablevente">
          
        <tr>

            <td>
                
                <div class="tabventeitem">
                    <img class="tabventeimg" src ="public/image/acceuil/t17.png"></img>
                      
            <div class="tabventelab">
                <label >Cosmetique</label>
                 </div>
                    </div>
              
              </td>
              <td> 
                  <div class="tabventeitem">
                      <img class="tabventeimg" src ="public/image/acceuil/t17.png"></img>
                      <div class="tabventelab">
                        <label >Electromenager</label>
                         </div>   </div>
                  
              
              </td>
              <td> 
                  <div class="tabventeitem">
                      <img class="tabventeimg" src ="public/image/acceuil/t17.png"></img>
                      <div class="tabventelab">
                        <label>Informatique</label>
                         </div>   </div>
                  
              
              </td>
         </tr>
       <tr>
        <td>
            <div class="tabventeitem">
                <img class="tabventeimg" src ="public/image/acceuil/t17.png"></img>
                <div class="tabventelab">
                    <label >Bureautique</label>
                     </div>     </div>
        </td>
        <td>
            <div class="tabventeitem">
                <img class="tabventeimg" src ="public/image/acceuil/t17.png"></img>
                <div class="tabventelab">
                    <label >Cosmetique</label>
                     </div>      </div>
            
        </td>

          <td>
            <div class="tabventeitem">
                <img class="tabventeimg" src ="public/image/acceuil/t17.png"></img>
                <div class="tabventelab">
                    <label >Transport</label>
                     </div>    </div>
            
              
            </td>
  
        </tr>

      </table>

    </div>
