<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Services Section</title>
    <!-- Font Awesome CDN-->
  
  </head>
  <body>
    <div id="divvente">
     
      <div class="row">
        <div class="column">
          <div class="card">
            
            
              <img class="icon-wrapper" src ="public/image/vente/maraicher.jpg"></img>

            
           
            <label class="labvente">
              Fruits et Legumes
            </label>
          </div>
        </div>
        <div class="column">
          <div class="card">
            
            <img class="icon-wrapper" src ="public/image/vente/electromenager.png"></img>

            <label class="labvente"> Electromenager</label>
          </div>
        </div>
        <div class="column">
          <div class="card">
          
            <img class="icon-wrapper" src ="public/image/vente/betailc.png"> </img>

            <label class="labvente">
            Elevage
          </label>
          </div>
        </div>
        <div class="column">
          <div class="card">
            
            <img class="icon-wrapper" src ="public/image/vente/bureautique.png"></img>
                
            <label class="labvente">
             Bureautique
            </label>
          </div>
        </div>
        <div class="column">
          <div class="card">
           
           
            <img class="icon-wrapper" src ="public/image/vente/cosmetique.png"></img>

            <label class="labvente">
             
            Cosmetique
          </label>
          </div>
        </div>

        <div class="column">
          <div class="card">
             
            <img class="icon-wrapper" src ="public/image/vente/vehicule.png"></img>
                
            <label class="labvente">
            Vehicule
          </label>
          </div>
        </div>

        <div class="column">
          <div class="card">
             
            <img class="icon-wrapper" src ="public/image/vente/immo.jpg"></img>
                
            <label class="labvente">
            Immobilier
          </label>
          </div>
        </div>

        <div class="column">
          <div class="card">
             
            <img class="icon-wrapper" src ="public/image/vente/alim.jpg"></img>
                
            <label class="labvente">
            Alimentaire
          </label>
          </div>
        </div>



        <div class="column">
          <div class="card">
             
            <img class="icon-wrapper" src ="public/image/vente/pices.jpg"></img>
                
            <label class="labvente">
            Pièces détachées
            </label>
          </div>
        </div>


      </div>
    </div>
    <div id="divventeb" style="display: none;">
      <div id="mainb">
  
        <div class= "n1b">
          <img class="icomenuv" src ="public/image/vente/maraicher.jpg"></img>
          <li class="labelmenuv"> fruits et legumes </li>
        
        </div>
    
        <div class= "n1b">
          <img class="icomenuv" src ="public/image/vente/electromenager.png"></img>
          <li class="labelmenuv"> electromenager </li>
          
        </div>
       
       <div  class="n1b">
        <img class="icomenuv" src ="public/image/vente/betailc.png"></img>
        <li class="labelmenuv"> elevage </li> 
        
       </div>
    <div  class="n1b">
    
      <img class="icomenuv" src ="public/image/vente/bureautique.png"></img>
      <li  class="labelmenuv" > bureautique </li>
      
    </div>
       
    <div  class="n1b">
      <img class="icomenuv" src ="public/image/vente/cosmetique.png"></img>
      <li class="labelmenuv" > cosmetique </li> 
        
    </div>

    <div  class="n1b">
      <img class="icomenuv" src ="public/image/vente/vehicule.png"></img>
      <li class="labelmenuv"> vehicule </li> 
        
    </div>
    
    
    
       
    <div  class="n1b">
      <img class="icomenuv" src ="public/image/vente/immo.jpg"></img>
      <li class="labelmenuv" > Immobilier </li>
      
    </div>
    <div  class="n1b">
      <img class="icomenuv" src ="public/image/vente/alim.jpg"></img>
      <li class="labelmenuv"> alimentaire </li> 
       
    </div>
       
    <div  class="n1b">
      <img class="icomenuv" src ="public/image/vente/pices.jpg"></img>
      <li class="labelmenuv"> piéces détachées </li> 
   
    </div>
    
      
      </div>
      
      
      
     </div>


    </div>
    <style>

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}
p {
  color: black;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.card:hover {
  background-position: 0 100%;
  color: black;
}




    </style>
  </body>
</html>
